header{
    background-color: white;
    background-image: "images/logo.png"
    border-bottom: 1px solid;
    border-bottom-color: #CCCCCC;
    height: 70px;
    width: 100%;
    position: fixed;   
}

#logo {
    text-align: center
}