header{
    background-color: white;
    border-bottom: 1px solid;
    border-bottom-color: #CCCCCC;
    height: 70px;
    width: 100%;
    position: fixed;   
}

header. logo {
    background: url('../images/logo.png');
    margin-left: 20px;
}